In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import h5py

/Users/chuwang/anaconda/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
df = pd.read_table('directory.csv',sep=',',engine='python')

In [3]:
df

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
5,Starbucks,17688-182164,"Dalma Mall, Ground Floor",Licensed,"Dalma Mall, Mussafah",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.49,24.40
6,Starbucks,18182-182165,"Dalma Mall, Level 1",Licensed,"Dalma Mall, Mussafah",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.49,24.40
7,Starbucks,23359-229184,Debenhams Yas Mall,Licensed,Yas Island,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.61,24.46
8,Starbucks,30781-99022,Khalidiya Street,Licensed,Khalidiya St.,Abu Dhabi,AZ,AE,NaN,26670052,GMT+04:00 Asia/Muscat,55.69,24.19
9,Starbucks,20423-205465,Eastern Mangroves,Licensed,"Al Salam Street, The Mangroves",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
10,Starbucks,20424-205466,Nation Towers,Licensed,Corniche Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.34,24.47
11,Starbucks,1579-122101,HCT Abu Dhabi Women's College Block,Licensed,"Najda Street, Higher Colleges of Technology",Abu Dhabi,AZ,AE,3167,26426280,GMT+04:00 Asia/Dubai,54.37,24.49
12,Starbucks,32595-122105,Standard Chartered Building,Licensed,"Khalidiya St., Beside Union Cooperative Society",Abu Dhabi,AZ,AE,3167,26359275,GMT+04:00 Asia/Muscat,55.69,24.19
13,Starbucks,24191-236428,International Tower,Licensed,"Capital Center, Adnec, Abu Dhabi",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.70,24.30
14,Starbucks,24604-238367,Yas Mall 3,Licensed,YAS Island,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.60,24.48
15,Starbucks,32029-110804,Blue Tower A,Licensed,"Street No.4, Muroor Road, Ground Floor",Abu Dhabi,AZ,AE,NaN,26429255,GMT+04:00 Asia/Muscat,55.74,24.21
16,Starbucks,29560-238539,Corniche Park DT,Licensed,"Corniche Road , Abu Dhabi",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.34,24.47
17,Starbucks,32239-100001,Khalidiya Mall,Licensed,"Street No.26 of Khalidiya Area, Ground Floor, ...",Abu Dhabi,AZ,AE,NaN,26354740,GMT+04:00 Asia/Dubai,54.35,24.47
18,Starbucks,31719-103601,Al Wahda Mall,Licensed,"11th Street, Ground Floor, Main Entrance",Abu Dhabi,AZ,AE,NaN,24437197,GMT+04:00 Asia/Dubai,54.37,24.47
19,Starbucks,20008-200004,Al Seef Village,Licensed,"Salam Street, Ministries District",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
20,Starbucks,32767-131566,Shangri-La Souq,Licensed,"Shangri-La Souk, Um Al Nar",Abu Dhabi,AZ,AE,3167,25581641,GMT+04:00 Asia/Dubai,54.51,24.42
21,Starbucks,3886-141408,"Abu Dhabi University, Men's",Licensed,"Muroor Street, Abu Dhabi Mall",Abu Dhabi,AZ,AE,NaN,24433824,GMT+04:00 Asia/Dubai,54.35,24.46
22,Starbucks,29539-254261,MUshrif Mall 1,Licensed,"25th st, Airport Road",Abu Dhabi,AZ,AE,971,NaN,GMT+04:00 Asia/Dubai,54.66,24.41
23,Starbucks,28809-251348,Boutik Mall Sun & Sky,Licensed,"Shams Abu Dhabi, Al Reem Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.41,24.50
24,Starbucks,34262-62540,Marina Mall,Licensed,Marina Mall,Abu Dhabi,AZ,AE,NaN,02-6815883,GMT+04:00 Asia/Dubai,54.32,24.47
25,Starbucks,3178-141407,"Abu Dhabi University, Women's",Licensed,"Road Al Ain Abu Dhabi Road Number 22, Women Side",Abu Dhabi,AZ,AE,NaN,25860492,GMT+04:00 Asia/Dubai,54.57,24.35
26,Starbucks,34260-17877,Hamdan Street,Licensed,Hamdan Street,Abu Dhabi,AZ,AE,NaN,02-6261001,GMT+04:00 Asia/Muscat,55.62,24.21
27,Starbucks,21605-213406,Saadiyat Island,Licensed,Saadiyat Island,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.44,24.54
28,Starbucks,1935-141406,Camellia Flowers,Licensed,"Khalidiya Area Khalidiya street, Behind Union ...",Abu Dhabi,AZ,AE,NaN,02-6355542,GMT+04:00 Asia/Dubai,54.34,24.47
29,Starbucks,20113-195784,Deerfields,Licensed,"Sheikh Zayed Road, Al Bahia Area",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.94,24.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77
25572,Starbucks,48482-263452,Phạm Ngọc Thạch,Licensed,"2 Phạm Ngọc Thạch, Quận Đống Đa",Hà Nội,HN,VN,0,04 3637 4374,GMT+000000 Asia/Saigon,105.83,21.01
25573,Starbucks,24015-232287,Press Club,Licensed,"59A Lý Thái Tổ, Quận Hoàn Kiếm, #123 Tầng trệt...",Hà Nội,HN,VN,70000,04 3936 9017,GMT+000000 Asia/Saigon,105.86,21.03
25574,Starbucks,24016-230012,IPH,Licensed,"241 Xuân Thủy, Quận Cầu Giấy",Hà Nội,HN,VN,70000,04 3795 4278,GMT+000000 Asia/Saigon,105.78,21.04
25575,Starbucks,47910-260386,The Garden,Licensed,"Tầng 1, TTTM The Garden, khu đô thị The Manor,...",Hà Nội,HN,VN,70000,04 3395 3333,GMT+000000 Asia/Saigon,105.78,21.01
25576,Starbucks,24003-228944,Lan Viên,Licensed,"32 Hàng Bài, Quận Hoàn Kiếm",Hà Nội,HN,VN,70000,04 3936 8407,GMT+000000 Asia/Saigon,105.85,21.02
25577,Starbucks,24014-231244,Bà Triệu,Licensed,"314 Bà Triệu, Quận Hai Bà Trưng",Hà Nội,HN,VN,70000,04 3978 1817,GMT+000000 Asia/Saigon,105.85,21.01
25578,Starbucks,49436-269127,The Vista,Licensed,"628 Xa Lo Ha Noi Highway, Dist 2, Ground Floor...",Ho Chi Minh,SG,VN,70000,08 6281 4546,GMT+000000 Asia/Saigon,106.75,10.80
25579,Starbucks,49441-269128,Ibis building,Licensed,"2 Hong Ha st, Ward 2, Tan Binh Dist, Tầng trệt...",Ho Chi Minh,SG,VN,0,NaN,GMT+000000 Asia/Saigon,106.67,10.81
25580,Starbucks,18663-190626,President Place,Licensed,"93 Nguyễn Du, Quận 1, Tầng trệt Trung Tâm Thươ...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3822 5891,GMT+000000 Asia/Saigon,106.70,10.78
25581,Starbucks,24011-230014,Pandora,Licensed,"1/1 Trường Chinh, Quận Tân Phú",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3812 6830,GMT+000000 Asia/Saigon,106.63,10.81
25582,Starbucks,23633-223885,Đông Du,Licensed,"38 Đông Du, Quận 1",Thành Phố Hồ Chí Minh,SG,VN,70000,NaN,GMT+000000 Asia/Saigon,106.70,10.78
25583,Starbucks,23925-226964,Đề Thám,Licensed,"191 - 193 Đề Thám, Quận 1",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3838 6455,GMT+000000 Asia/Saigon,106.69,10.77
25584,Starbucks,48282-262438,Nguyễn Văn Trỗi,Licensed,"66 Nguyễn Văn Trỗi, Quận Phú Nhuận, Tầng trệt,...",Thành Phố Hồ Chí Minh,SG,VN,0,08 3842 2171,GMT+000000 Asia/Saigon,106.68,10.79
25585,Starbucks,25378-234124,VivoCity,Licensed,"1058 Nguyễn Văn Linh, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3771 4975,GMT+000000 Asia/Saigon,106.70,10.73
25586,Starbucks,29695-254869,Lakai,Licensed,"98-126 Nguyễn Tri Phương, Quận 5",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3924 1251,GMT+000000 Asia/Saigon,106.67,10.75
25587,Starbucks,48731-264926,Thành Phố Hồ Chí Minh,Licensed,"Sân bay Tân Sơn Nhất, 45 Trường Sơn, Tân Bì...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 6681 6463,GMT+000000 Asia/Saigon,106.66,10.81
25588,Starbucks,25865-242710,Kumho,Licensed,"39 Lê Duẩn, Quận 1",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3823 4990,GMT+000000 Asia/Saigon,106.70,10.78
25589,Starbucks,24009-223886,Phan Xich Long,Licensed,"214 -216 Phan Xích Long, Quận Phú Nhuận",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3517 6461,GMT+000000 Asia/Saigon,106.69,10.80
25590,Starbucks,25346-240592,Thảo Điền,Licensed,"21 Thảo Điền, Quận 2",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3744 2040,GMT+000000 Asia/Saigon,106.74,10.80
25591,Starbucks,29047-252265,Nguyễn Huệ,Licensed,"99 Nguyễn Huệ, Quận 1",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3821 0105,GMT+000000 Asia/Saigon,106.70,10.77
25592,Starbucks,27767-248666,SSG,Licensed,"561A Điện Biên Phủ, Quận Bình Thạnh, Khách sạn...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3512 0585,GMT+000000 Asia/Saigon,106.72,10.80
25593,Starbucks,18687-193924,New World,Licensed,"76 Lê Lai, Quận 1, Góc đường Phạm Hồng Thái và...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3823 7952,GMT+000000 Asia/Saigon,106.69,10.77
25594,Starbucks,27082-246744,Emart,Licensed,"168 Phan Văn Trị, Quận Gò Vấp, Khách sạn Rex",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3588 0146,GMT+000000 Asia/Saigon,106.69,10.82
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02

In [4]:
#select certain columns
df = df.drop(['Store Name', 'Ownership Type', 'Street Address', 'City', 'Phone Number', 'Timezone'], axis=1)

In [5]:
df.head(10)

,Brand,Store Number,State/Province,Country,Postcode,Longitude,Latitude
0,Starbucks,47370-257954,7,AD,AD500,1.53,42.51
1,Starbucks,22331-212325,AJ,AE,NaN,55.47,25.42
2,Starbucks,47089-256771,AJ,AE,NaN,55.47,25.39
3,Starbucks,22126-218024,AZ,AE,NaN,54.38,24.48
4,Starbucks,17127-178586,AZ,AE,NaN,54.54,24.51
5,Starbucks,17688-182164,AZ,AE,NaN,54.49,24.40
6,Starbucks,18182-182165,AZ,AE,NaN,54.49,24.40
7,Starbucks,23359-229184,AZ,AE,NaN,54.61,24.46
8,Starbucks,30781-99022,AZ,AE,NaN,55.69,24.19
9,Starbucks,20423-205465,AZ,AE,NaN,54.38,24.48

In [6]:
#drop other countries
df = df[df.Country == 'US']

In [7]:
#check null zipcode
null_rows = df[df['Postcode'].isnull()]

In [8]:
null_rows

,Brand,Store Number,State/Province,Country,Postcode,Longitude,Latitude
21549,Starbucks,28180-250430,OH,US,NaN,-80.74,41.03

In [10]:
#drop it for now
df = df[df.notnull()]

In [13]:
#no null values in current df
df.isnull().values.any()

False

In [14]:
df.head(10)

,Brand,Store Number,State/Province,Country,Postcode,Longitude,Latitude
11964,Starbucks,3513-125945,AK,US,995042300,-149.78,61.21
11965,Starbucks,74352-84449,AK,US,995073444,-149.84,61.14
11966,Starbucks,12449-152385,AK,US,995153596,-149.85,61.11
11967,Starbucks,24936-233524,AK,US,99515,-149.89,61.13
11968,Starbucks,8973-85630,AK,US,995152050,-149.86,61.14
11969,Starbucks,72788-84447,AK,US,995084218,-149.87,61.19
11970,Starbucks,79549-106150,AK,US,995081928,-149.82,61.22
11971,Starbucks,75988-107245,AK,US,99502,-149.98,61.18
11972,Starbucks,11426-99254,AK,US,995037247,-149.88,61.18
11973,Starbucks,20349-108249,AK,US,99504,-149.74,61.21

In [3]:
us_census_data = pd.read_table('Cleaned_USCensus_2012.csv',sep=',',engine='python')

In [5]:
us_census_data.head(10)

,Unnamed: 0,Geography,Total; Estimate; Households,Median income (dollars); Estimate; Households,Total; Estimate; One race-- - White,Median income (dollars); Estimate; One race-- - White,Total; Estimate; One race-- - Black or African American,Median income (dollars); Estimate; One race-- - Black or African American,Total; Estimate; One race-- - American Indian and Alaska Native,Total; Estimate; One race-- - Asian,...,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Female householder - Not living alone,Total; Estimate; NONFAMILY HOUSEHOLDS - Male householder,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Male householder,Total; Estimate; NONFAMILY HOUSEHOLDS - Male householder - Living alone,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Male householder - Living alone,Total; Estimate; NONFAMILY HOUSEHOLDS - Male householder - Not living alone,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Male householder - Not living alone,Total; Estimate; PERCENT IMPUTED - Household income in the past 12 months,Total; Estimate; PERCENT IMPUTED - Family income in the past 12 months,Total; Estimate; PERCENT IMPUTED - Nonfamily income in the past 12 months
0,1,602,13241,15106,74.6,14644,4.4,12578,0.1,0.2,...,17857,45,9576,39.4,9217,5.6,11473,11.1,11.4,8.7
1,2,603,17518,15079,85.4,14984,2.9,12097,0.1,0.4,...,21304,40.1,10088,35.4,9873,4.7,17891,17.4,18.1,14.4
2,3,606,1754,12098,94.9,12009,1.8,20313,0,0,...,13092,64.4,6786,57.2,6806,7.2,6667,11.1,12.1,8.7
3,4,610,9181,16923,88.3,17246,3.2,12308,0,0,...,24405,41.9,11489,33.5,10505,8.4,14934,12.3,13.7,7.5
4,5,612,23268,18111,83.4,18357,4,18899,0.3,1.5,...,17396,40.7,9059,36.2,8628,4.6,32692,18,18.7,14.5
5,6,616,3574,16279,92.1,16126,2.6,33036,0,0,...,16875,53.4,8531,48.1,9101,5.2,4097,16.1,18.4,9
6,7,617,8046,15114,96.4,15351,1.3,18750,0.2,0,...,25391,54.8,10879,48.3,10430,6.5,11792,22.9,25.4,13.8
7,8,622,2027,12059,96.3,12223,1.3,-,0,0,...,30000,42.4,6138,40.4,5976,2.1,-,7.1,4.7,9.6
8,9,623,13321,16447,95.5,16276,2.7,18289,0,0.1,...,23568,45.8,11878,39.8,10913,6.1,17328,10.8,10.3,11.7
9,10,624,7935,15500,84.6,15066,2.5,28080,0.4,0,...,10865,56.3,9209,43,8893,13.3,10000,16.7,16,17.6